*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
  }

  section{
    padding: 60px, 0;
    overflow: hidden;
  }

  .nav-div{
    width: 100%;
    display: flex;
  }

  .logo{
    height: 80px;
    width: 210px;
    margin-left: 40px;
    margin-top: 5px;
  }

  .logo img{
    height: 50px;
    margin: 10px;
    width: 190px;
    display: inline-block;
    position: relative;
  }

  .search-bar{
    width: 450px;
    height: 35px;
    margin-left: 250px;
    margin-top: 30px;
    border: 1px solid;
    border-radius: 100px;
    display: inline-block;
    position: relative;
  }

  .search-button{
    width: 25px;
    background: none;
    border: none;
  }

  .search-icon{
    width: 17px;
    margin-left: 10px;
    margin-bottom: 3px;
  }

  .search-input{
    border: none;
    width: 370px;
    height: 25px;
    margin-left: 15px;
    margin-top: 4px;
  }

  .search-input:focus{
    outline: none;
  }

  .search-input:focus::placeholder{
    color: transparent;
  }
