*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Ubuntu', sans-serif;
}

section{
  padding: 60px, 0;
  overflow: hidden;
}

/* ----------------Login---------------- */
#main {
  background-image: url('../images/bg01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#main::before {
  content: "";
  background-image: url('../images/bg01.jpg');
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  z-index: -1;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 100%;
  text-align: center;
}

.login-form {
  background-color: rgba(126, 187, 176, 0.45);
  padding: 20px;
  border-radius: 10px;
  width: 550px;
}

#wb{
  margin: 25px;
  font-family: 'Ubuntu', sans-serif;
}

.wrap-input100 {
  width: 100%;
  margin: 15px;
  position: relative;
}

.label-input100{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 5px;
  margin-top: 17px;
  text-align: left;
  display: block;
}

.input100{
  width: 575px;
  border: none;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 55px;
  background: transparent;
  padding: 0 6px 0 43px;
}

.input100:focus {
  border-color: #7EBBB0;
}

.input100:focus::placeholder {
  color:transparent;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::after {
  content: attr(data-symbol);
  font-family: Material-Design-Iconic-Font;
  color: #8d908e;
  font-size: 22px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::before {
  width: 365px;
}

.has-val.input100 + .focus-input100::before {
  width: 365px;
}

.input100:focus + .focus-input100::after {
  color: #7EBBB0;
}

.has-val.input100 + .focus-input100::after {
  color: #7EBBB0;
}

#for-pass{
  text-align: right;
  display: block;
  margin-right: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.login-btn{
  font-family: 'Ubuntu', sans-serif;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-right: 40px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: #7EBBB0;
  border: 2px solid #070807;
  color: #ffffff;
}

#account{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

#create-acc{
  font-family: 'Ubuntu', sans-serif;
}

.toast-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginlink{
  font-family: 'Ubuntu', sans-serif;
}

/* -----------Register------------- */
#main_reg {
  background-image: url('../images/bg01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: right;
  height: 100vh;
  width: 100%;
}

.left-side{
  margin-top: 25px;
  margin-left: 50px;
}

.reg-form {
  margin: 20px;
  margin-right: 100px;
  background-color: rgba(126, 187, 176, 0.45);
  padding: 43px;
  border-radius: 10px;
  width: 570px;
}

.pharma-content{
  font-family: 'Ubuntu', sans-serif;
}

#cacc{
  margin-bottom: 20px;
  font-size: 25px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.wrap-input100 {
  width: 100%;
  margin: 15px;
  position: relative;
}

.name-input100 {
  display: inline-block;
  width: 30%;
  margin-right: 1.5%;
}

.phn-num-wrap-input100{
  display: inline-block;
  width: 30%;
  margin-left: 17px;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}

.addr-wrap-input100{
  display: inline-block;
  width: 40%;
  margin-top: 10px;
  margin-left: 22px;
  position: relative;
}

.label-input100{
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  display: block;
}

.name-label-input100{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 17px;
  display: block;
}

.lname-label-input100{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 17px;
  display: block;
}

.phn-num-label-input100{
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  display: inline-block;
  position: relative;
}

.addr-label-input100{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 60px;
  display: inline-block;
  position: relative;
}

.input100{
  width: 475px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 55px;
  background: transparent;
  padding: 0 6px 0 60px;
}

.n-input100{
  width: 125px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 30px;
  background: transparent;
  margin-left: 17px;
  padding: 0 6px 0 0px;
}

.ln-input100{
  width: 167px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 30px;
  background: transparent;
  margin-left: 17px;
  padding: 0 6px 0 0px;
}

.phn-num-input100{
  width: 195px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 37px;
  background: transparent;
  padding: 0 6px 0 0px;
}

.addr-input100{
  width: 240px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  margin-left: 60px;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 37px;
  background: transparent;
  padding: 0 6px 0 0px;
}

.input100:focus {
  border-color: #7EBBB0;
}

.input100:focus::placeholder {
  color: transparent;
}

.n-input100:focus {
  border-color: #7EBBB0;
}

.n-input100:focus::placeholder {
  color: transparent;
}

.ln-input100:focus{
  border-color: #7EBBB0;
}

.phn-num-input100:focus{
  border-color: #7EBBB0;
}

.addr-input100:focus{
  border-color: #7EBBB0;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.n-focus-input100 {
  position: absolute;
  display: block;
  height: 30px;
  pointer-events: none;
}

.focus-input100::after {
  content: attr(data-symbol);
  font-family: Material-Design-Iconic-Font;
  color: #8d908e;
  font-size: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.toast-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::before {
  width: 365px;
}

.has-val.input100 + .focus-input100::before {
  width: 365px;
}

.input100:focus + .focus-input100::after {
  color: #7EBBB0;
}

.has-val.input100 + .focus-input100::after {
  color: #7EBBB0;
}

.register-btn{
  font-family: 'Ubuntu', sans-serif;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-left: 127px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.register-btn:hover {
  background-color: #7EBBB0;
  border: 2px solid #070807;
  color: #ffffff;
}

#account-alr{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

#account-pharm{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
}

#linkreg{
  font-family: 'Ubuntu', sans-serif;
}

#linkpharma{
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: inherit;
}

#pharma_reg {
  background-image: url('../images/bg02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: right;
  height: 100vh;
  width: 100%;
}

.pharma-reg-form {
  margin: 29px;
  margin-right: 100px;
  background-color: rgba(79, 157, 218, 0.45);
  padding: 43px;
  border-radius: 10px;
  width: 570px;
}

.pharma-content{
  font-family: 'Ubuntu', sans-serif;
}

/* ------------PharmaProfile--------------- */
#racc{
  margin-bottom: 30px;
  font-size: 25px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.pharma-wrap-input100 {
  width: 100%;
  margin: 15px;
  position: relative;
}

.sdo-wrap-input100{
  display: inline-block;
  width: 30%;
  margin: 15px;
  position: relative;
}

.sdo-checkbox-wrap-input100{
  display: inline-block;
  margin-right: 20;
  margin: 15px;
  position: relative;
}

.sdt-wrap-input100{
  display: inline-block;
  width: 40%;
  margin: 15px;
  position: relative;
}

.sdt-checkbox-wrap-input100{
  display: inline-block;
  margin-right: 20;
  margin: 15px;
  position: relative;
}

.pharma-name-input100 {
  display: inline-block;
  width: 30%;
  margin-right: 1.5%;
}

.pharma-label-input100{
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  display: block;
}

.sdo-label-input100{
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  display: inline-block;
  position: relative;
}

.sdt-label-input100{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 60px;
  display: inline-block;
  position: relative;
}

.sdo-checkbox-label-input100{
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  position: relative;
}

.sdt-checkbox-label-input100{
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  position: relative;
}

.pharma-input100{
  width: 475px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 55px;
  background: transparent;
  padding: 0 6px 0 60px;
}

.sdo-input100{
  width: 195px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 30px;
  background: transparent;
  padding: 0 6px 0 0px;
}

.sdo-file-input100{
  width: 195px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.3;
  display: block;
  margin-top: 10px;
  background: transparent;
  padding: 0 6px 0 0px;
}

.sdt-input100{
  width: 240px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  margin-left: 60px;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 30px;
  background: transparent;
  padding: 0 6px 0 0px;
}

.sdo-checkbox-input100{
  margin-right: 15px;
}

.sdt-checkbox-input100{
  margin-left: 50px;
  margin-right: 15px;
}

.pharma-input100:focus {
  border-color: #00599c;
}

.pharma-input100:focus {
  border-color: #00599c;
}

.sdo-input100:focus {
  border-color: #00599c;
}

.sdt-input100:focus {
  border-color: #00599c;
}

.pharma-input100:focus::placeholder {
  color: transparent;
}

.pharma-focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.pharma-n-focus-input100 {
  position: absolute;
  display: block;
  height: 30px;
  pointer-events: none;
}

.pharma-focus-input100::after {
  content: attr(data-symbol);
  font-family: Material-Design-Iconic-Font;
  color: #8d908e;
  font-size: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.pharma-toast-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pharma-focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.pharma-input100:focus + .pharma-focus-input100::before {
  width: 365px;
}

.pharma-has-val.input100 + .pharma-focus-input100::before {
  width: 365px;
}

.pharma-input100:focus + .pharma-focus-input100::after {
  color: #00599c;
}

.pharma-has-val.input100 + .pharma-focus-input100::after {
  color: #00599c;
}

.sdo-checkbox-input100, .sdt-checkbox-input100 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #eee;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  position: relative;
}

.sdo-checkbox-input100:checked, .sdt-checkbox-input100:checked {
  background-color: #2196F3;
}

.sdo-checkbox-input100:checked:after, .sdt-checkbox-input100:checked:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the checkmark */
}

.pharma-register-btn{
  font-family: 'Ubuntu', sans-serif;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-left: 127px;
  margin-top: 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.pharma-register-btn:hover {
  background-color: #4F9DDA;
  border: 2px solid #070807;
  color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* -------------PharmaAdminRegister--------------- */
#pacc{
  margin-bottom: 30px;
  font-size: 25px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.pharma-wrap-input100 {
  width: 100%;
  margin: 15px;
  position: relative;
}

.pharma-phn-num-wrap-input100{
  display: inline-block;
  width: 30%;
  margin-left: 17px;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}

.pharma-addr-wrap-input100{
  display: inline-block;
  width: 40%;
  margin-top: 10px;
  margin-left: 22px;
  position: relative;
}

.pharma-name-input100 {
  display: inline-block;
  width: 30%;
  margin-right: 1.5%;
}

.pharma-label-input100{
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  display: block;
}

.pharma-name-label-input100{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 17px;
  display: block;
}

.pharma-lname-label-input100{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 17px;
  display: block;
}

.pharma-phn-num-label-input100{
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  display: inline-block;
  position: relative;
}

.pharma-addr-label-input100{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 60px;
  display: inline-block;
  position: relative;
}

.pharma-input100{
  width: 475px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 55px;
  background: transparent;
  padding: 0 6px 0 60px;
}

.pharma-n-input100{
  width: 125px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 30px;
  background: transparent;
  margin-left: 17px;
  padding: 0 6px 0 0px;
}

.pharma-ln-input100{
  width: 167px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 30px;
  background: transparent;
  margin-left: 17px;
  padding: 0 6px 0 0px;
}

.pharma-phn-num-input100{
  width: 195px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 37px;
  background: transparent;
  padding: 0 6px 0 0px;
}

.pharma-addr-input100{
  width: 240px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  margin-left: 60px;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 37px;
  background: transparent;
  padding: 0 6px 0 0px;
}

.pharma-input100:focus {
  border-color: #00599c;
}

.pharma-input100:focus::placeholder {
  color: transparent;
}

.pharma-n-input100:focus {
  border-color: #00599c;
}

.pharma-n-input100:focus::placeholder {
  color: transparent;
}

.pharma-ln-input100:focus {
  border-color: #00599c;
}

.pharma-phn-num-input100:focus {
  border-color: #00599c;
}

.pharma-addr-input100:focus {
  border-color: #00599c;
}

.pharma-focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.pharma-n-focus-input100 {
  position: absolute;
  display: block;
  height: 30px;
  pointer-events: none;
}

.pharma-focus-input100::after {
  content: attr(data-symbol);
  font-family: Material-Design-Iconic-Font;
  color: #8d908e;
  font-size: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.pharma-toast-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pharma-focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.pharma-input100:focus + .pharma-focus-input100::before {
  width: 365px;
}

.pharma-has-val.input100 + .pharma-focus-input100::before {
  width: 365px;
}

.pharma-input100:focus + .pharma-focus-input100::after {
  color: #00599c;
}

.pharma-has-val.input100 + .pharma-focus-input100::after {
  color: #00599c;
}

.pharma-register-btn{
  font-family: 'Ubuntu', sans-serif;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-left: 127px;
  margin-top: 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.pharma-register-btn:hover {
  background-color: #4F9DDA;
  border: 2px solid #070807;
  color: #ffffff;
}

/* ------------AdminProfile--------------- */
#content {
  background: #f8f9fa;
  margin-left: 40px; /* Adjust this value based on the width of your sidebar */
}

#content h2 {
  color: #333;
  margin-bottom: 1rem;
}

#content .form-group {
  margin-bottom: 1rem;
}

#content .form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

#content .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* ----------ManageProducts/Medicine--------------- */
.content{
  flex-grow: 1;
  padding: 10px 0px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-navigation, .content{
  align-self: flex-start;
}

.left-navigation, .content{
  min-height: 100vh;
}

.content-header{
  border-radius: 5px;
  font-size: 35px;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
}

.add-staff-btn{
  background-color: rgba(79, 157, 218, 0.25);
  border: 1px solid;
  border-radius: 5px;
  margin-top: 75px;
  width: 150px;
  height: 35px;
  float: right;
  transition: right 0.3s ease;
  position: absolute;
  right: 50px;
}

.add-staff-btn:hover{
  background-color: rgba(0, 145, 255, 0.25);
  color: #3f3f3f;
}

.modal-product {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-prod-content {
  background: white;
  width: 780px;
  height: 500px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  z-index: 1001;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.form-head{
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  margin-left: 17px;
  margin-top: 20px;
}

.body-no-scroll {
  overflow: hidden;
}

.modal-pname-input100{
  display: inline-block;
  width: 30%;
  margin-top: 10px;
  margin-right: 120px;
}

.modal-quantity-input100{
  display: inline-block;
  width: 30%;
  margin-top: 10px;
  margin-right: 120px;
}

.modal-price-input100{
  display: inline-block;
  width: 30%;
  margin-top: 10px;
  margin-right: 1.5%;
}

.modal-image-input100{
  display: inline-block;
  width: 50%;
  margin-top: 10px;
  margin-right: 1.5%;
}

.modal-wrap-input100{
  width: 100%;
  margin: 15px;
  position: relative;
}

.modal-label-input100{
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  margin-left: 5px;
  display: block;
}

.modal-pname-label-input100{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 20px;
  display: block;
}

.modal-quantity-label-input100{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 20px;
  display: block;
}

.modal-price-label-input100{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 28px;
  display: block;
}

.modal-image-label-input100{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 28px;
  display: block;
}

.modal-input100{
  width: 675px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  margin-left: 5px;
  height: 45px;
  background: transparent;
  padding: 0 6px 0 0px;
}

.modal-pn-input100{
  width: 300px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 40px;
  background: transparent;
  margin-left: 20px;
  padding: 0 6px 0 0px;
}

.modal-pr-input100{
  width: 320px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 40px;
  background: transparent;
  margin-left: 30px;
  padding: 0 6px 0 0px;
}

.modal-qy-input100{
  width: 300px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 40px;
  background: transparent;
  margin-left: 25px;
  padding: 0 6px 0 0px;
}

.modal-im-input100{
  width: 300px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  transition: border-color 0.3s;
  outline: none;
  display: block;
  height: 70px;
  margin-top: 8px;
  background: transparent;
  margin-left: 30px;
  padding: 0 6px 0 0px;
}

.create-product{
  font-family: 'Ubuntu', sans-serif;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 240px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.create-product:hover{
  background-color: rgba(79, 157, 218, 0.25);
}

table {
  width: 100%;
  max-width: 1150px;
  margin-top: 40px;
  border: 1px solid;
  border-radius: 5px;
  border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.editbutton{
  width: 35px;
  margin: 5px;
  border: solid 1px;
  border-radius: 5px;
  background-color: #39cf02;
}

.editbutton:hover{
  background-color: #00f736;
}

.deletebutton{
  width: 37px;
  margin: 5px;
  border: solid 1px;
  border-radius: 5px;
  background-color: #e0021c;
}

.deletebutton:hover{
  background-color: #fa3c4c;
}

/* ----------ManageStaffs--------------- */
.content{
  flex-grow: 1;
  padding: 10px 0px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-navigation, .content{
  align-self: flex-start;
}

.left-navigation, .content{
  min-height: 100vh;
}

.content-header{
  border-radius: 5px;
  font-size: 35px;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
}

.add-staff-btn{
  background-color: rgba(79, 157, 218, 0.25);
  border: 1px solid;
  border-radius: 5px;
  margin-top: 75px;
  width: 150px;
  height: 35px;
  float: right;
  transition: right 0.3s ease;
  position: absolute;
  right: 50px;
}

.add-staff-btn:hover{
  background-color: rgba(0, 145, 255, 0.25);
  color: #3f3f3f;
}

.modal-staff {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-staff-content {
  background: white;
  width: 780px;
  height: 700px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  z-index: 1001;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.form-head{
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  margin-left: 17px;
  margin-top: 20px;
}

.body-no-scroll {
  overflow: hidden;
}

.modal-name-input100{
  display: inline-block;
  width: 30%;
  margin-top: 10px;
  margin-right: 1.5%;
}

.modal-wrap-input100{
  width: 100%;
  margin: 15px;
  position: relative;
}

.modal-label-input100{
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  margin-left: 5px;
  display: block;
}

.modal-name-label-input100{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 20px;
  display: block;
}

.modal-lname-label-input100{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 17px;
  display: block;
}

.modal-input100{
  width: 675px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  margin-left: 5px;
  height: 45px;
  background: transparent;
  padding: 0 6px 0 0px;
}

.modal-n-input100{
  width: 200px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 40px;
  background: transparent;
  margin-left: 20px;
  padding: 0 6px 0 0px;
}

.modal-ln-input100{
  width: 210px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid #8d908e;
  transition: border-color 0.3s;
  outline: none;
  line-height: 1.2;
  display: block;
  height: 40px;
  background: transparent;
  margin-left: 17px;
  padding: 0 6px 0 0px;
}

.create-staff{
  font-family: 'Ubuntu', sans-serif;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 240px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.create-staff:hover{
  background-color: rgba(79, 157, 218, 0.25);
}

table {
  width: 100%;
  max-width: 1150px;
  margin-top: 40px;
  border: 1px solid;
  border-radius: 5px;
  border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.editbutton{
  width: 35px;
  margin: 5px;
  border: solid 1px;
  border-radius: 5px;
  background-color: #39cf02;
}

.editbutton:hover{
  background-color: #00f736;
}

.deletebutton{
  width: 37px;
  margin: 5px;
  border: solid 1px;
  border-radius: 5px;
  background-color: #e0021c;
}

.deletebutton:hover{
  background-color: #fa3c4c;
}

/* ---------Product----------- */
/* Ensure your product cards are set to inline-block or flex for proper alignment */
.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Make sure images are responsive */
.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

/* Ensure card layout is set properly */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%; /* Or a fixed width */
}

/* Add padding inside the container */
.card-body {
  padding: 2px 16px;
}

/* Align your header in center */
.popular-products-heading {
  text-align: center;
  margin-bottom: 2rem;
}

/* Bootstrap uses row and col-*, so make sure to utilize them */
.popular-products-container {
  display: flex;
  flex-wrap: wrap;
}

/* Individual product should take up 4 columns on medium to large devices, full width on small devices */
.product-item {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .product-item {
    width: 50%; /* For 2 columns on medium devices */
  }
}

@media (min-width: 992px) {
  .product-item {
    width: 25%; /* For 4 columns on large devices */
  }
}

.mt-4 {
  margin-top: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}


/* -----------UserProfile-------------- */
#content {
  background: #f8f9fa;
  width: 700px;
  margin-top: 90px;
  margin-left: 435px;
}

#content h2 {
  color: #333;
  margin-bottom: 1rem;
}

#content .form-group {
  margin-bottom: 1rem;
}

#content .form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

#content .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
